* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: 7rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    color: #7B7D7D;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.3rem;
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 1.3rem;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

/* Custom style for active events on navigation bar. */
.nav-link.active {
    font-weight: bold;
    color: #e32636 !important;
}

.nav-link i {
    font-size: 2rem;
}

.circle-crop {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the desired height to the same as width to make a square */
    border-radius: 50%; /* This makes it a circle */
    overflow: hidden; /* Hide anything that overflows the circle */
    display: flex; /* Center the image */
    justify-content: center; /* Center the image */
    align-items: center; /* Center the image */
  }
  
  .circle-crop img {
    width: 100%; /* Ensure the image takes up the full width of the container */
    height: 100%; /* Ensure the image takes up the full height of the container */
    object-fit: cover; /* Ensure the image covers the container without stretching */
  }